@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;1,200;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    body {
        overflow-x: hidden;
    }
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    nav {

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;

            li {
                margin-right: 4rem;

                a {
                    color: #fff;
                    font-size: 2rem;
                    text-decoration: none;

                    &:hover {
                        color: yellow;
                    }
                }
            }
        }
    }

    .logo {
        img {
            width: 100px;
        }
    }
}

